<div class="container">
  <div id="control-chat-panel">
    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <form id="form-chat-dialog">
        <div class="form-group">
          <input type="text" class="form-control" id="message" placeholder="type your text here...">
        </div>
      </form>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
      <button type="button" class="btn bt-default btn-success btn-send-msg" id="btn-send-msg"><i class="fa fa-paper-plane"></i></button>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    </div>
  </div>
</div>  
