<div class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <h3>Welcome {{name}} </h3>
      <h4>Your nick: {{nickName}}</h4>
  </div>
  <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 text-right">
    <h3>
      <button type="button" class="btn btn-default btn-success" id="btn-logout">
        <i class="fa fa-sign-out"></i>
        logout
      </button>
    </h3>  
  </div>  
</div>
