<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
  <div class="panel panel-default" id="users-list">
    <div class="panel-body">
      <p><i class="fa fa-user"></i> <span class="badge" id="users-total"></span> On-line</p>
      <ul class="list-group">

      </ul>
    </div>  
  </div>  
</div>