#main-chat-dialogs {
  min-height: 200px;
}

#control-chat-panel textarea { 
  height: 74px;
  resize: none;
}

#control-chat-panel .btn-send-msg {
  width: 74px;
  height: 74px;
  font-size: 36px;
  border-radius: 100%;
}
