{{> _header-chat }}

{{> _dialog-chat }}

{{> _control-chat-panel }}

<script src="/socket.io/socket.io.js"></script>
<script>
window.addEventListener('load', function(){
  var socket = io();

  $('#message').focus();

  $('#form-chat-dialog').submit(function(){
    return false;
  });

  var sendMessage = function(){
    var message = $('#message').val();

    socket.emit('chat-message', { message: message, nickName: "{{nickName}}" } );

    $('#message').val('');
  };

  $('#message').keypress(function(e) {
      if(e.which == 13) {
          if ($(this).val() != '') {
            sendMessage();
          }
      }
  });
  $('#btn-send-msg').click(sendMessage);

  socket.on('new-message', function(data){
    console.log('new-message', data.message);

    $('#all-messages').append('<div class="alert alert-warning"><i class="fa fa-user-circle-o"></i> ' + data.nickName + ':' + data.message + '</div>');
  });

  // logout
  $('#btn-logout').click(function(){
    socket.emit('logout', { nickName: "{{nickName}}" });
    window.location = '/login';
  });
});
</script>
