<h3>Welcome, {{name}} </h3>

<div class="panel panel-default" id="main-chat-dialogs">
  <div class="panel-body">
    


  </div>
</div>

<div id="control-chat-panel" class="row">
  <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <form>
      <div class="form-group">
        <textarea class="form-control" rows="3" id="message"></textarea>
      </div>
    </form>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
    <button type="button" class="btn bt-default btn-success btn-send-msg"><i class="fa fa-paper-plane"></i></button>
  </div>
  <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script>
window.addEventListener('load', function(){
  var socket = io();

  $('.btn-send-msg').click(function(){
    var message = $('#message').val();

    socket.emit('chat message', { message: message } );
  });
});
</script>
